@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Ubuntu', sans-serif;
    border: none;
}

.collapsible {
    background-color: #fff;
    color: black;
    cursor: pointer;
    padding: 2rem;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-weight: 500;
    font-size: 1.8rem;

}

.active,
.collapsible:hover {
    background-color: #353cac;
    color: #fff;
}

.collapsible:after {
    content: '\002B';
    color: black;
    float: right;
    margin-left: 0.4rem;
}

.active:after {
    content: "\2212";
    color: #ffff;
}

.content {
    padding: 2rem;
    max-height: 100%;
    overflow: hidden;
    display: block;
    transition: max-height 0.2s ease-out;
    background-color: #f1f1f1;
}

body main,
footer {
    padding: 0 5%;
}

header {
    background-color: #353cac;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3rem;
    color: #ffff;
    margin-bottom: 10rem;
}

@media screen and (max-width: 671px){
    header {
        background-color: #353cac;
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
        padding: 3rem;
        color: #ffff;
        margin-bottom: 10rem;
    }
        
}

.mainImg {
    border-radius: 100%;
    height: 300px;
    width: 300px;
}

@media screen and (max-width: 1050px) {
    .mainImg {
        border-radius: 100%;
        height: 150px;
        width: 150px;
    }
}

h1 {
    font-weight: 700;
    font-size: 4.5rem;
    margin-bottom: 3rem;
}

@media screen and (max-width: 1050px) {
    h1 {
        font-weight: 500;
        font-size: 2.5rem;
        vertical-align: center;
        margin-bottom: 1.8rem;
    }

}

@media screen and (max-width: 440px) {
    h1 {
        font-weight: 500;
        font-size: 1.8rem;
        vertical-align: center;
        margin-bottom: 1.8rem;
        margin-top: 1.8rem;
    }
}

h2 {
    font-weight: 500;
    font-size: 1.8rem;

}

/* @media screen and (max-width: 1050px) {
    h2 {
    font-weight: 500;
    font-size: 3.7rem;

    }
} */

p {
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 1.5;
}

@media screen and (max-width: 1050px) {
    p {
        font-weight: 400;
        font-size: 1.7rem    }

}

em {
    color: #959ba6;
    font-size: 1.6rem;
}

main a {
    display: block;
    font-weight: 400;
    font-size: 1.5rem;
    line-height: 4rem;
}

section {
    margin: 5rem 0;
    padding-right: 2%;
}

.headerInfo p {
    font-size: 2rem;
}

@media screen and (max-width: 440px) {
    .headerInfo p {
        font-size: 1.2rem;
    }
}


/* MAIN */

main {
    display: flex;

}

@media screen and (max-width: 1000px) {
    main {
        display: flex;
        flex-direction: column;
    }
}

.wrapper {
    flex-direction: column;
    width: 65%;

}

       
aside {
    width: 35%;
    flex-direction: column;
}

@media screen and (max-width: 1000px) {
    .wrapper {
        width: 100%;
    }

    aside {
        width: 100%;
    }


}

.levelDegree {
    list-style: none;
    display: block;
}

.btn {
    height: 10px;
    width: 44px;
    background: #c6c8d6;
    transform: skew(-35deg);
}

.checked {
    height: 10px;
    width: 44px;
    background: #353cac;
    transform: skew(-35deg);
}

@media screen and (max-width: 340px){
    .btn {
        height: 10px;
        width: 32px;
        background: #c6c8d6;
        transform: skew(-35deg);
    }
    
    .checked {
        height: 10px;
        width: 32px;
        background: #353cac;
        transform: skew(-35deg);
    }
        
}

/* Footer */

.contacts {
    display: flex;
    justify-content: center;
    padding-top: 3.13rem;
    font-size: 1.1rem;
}

@media screen and (max-width: 671px){
    .contacts {
        display: flex;
        justify-content: center;
        flex-direction: column;
        padding-top: 3.13rem;
        font-size: 1.1rem;
    }
}

.contacts span i {
    margin-right: 1rem;
}

.contacts span {
    margin: 0 5%;
}

@media screen and (max-width: 900px) {
    .contacts span {
        margin: 0 1%;
    }
}

@media screen and (max-width: 671px){
    .contacts span {
        margin: 5% auto;
    }
}


hr {
    margin-top: 4.19rem;
    height: 0.5rem;
    background-color: #e9eaf0;

}